<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>182135908945-4d3pko9fcg62i1iuemvpi9k2sdeh1ao9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.182135908945-4d3pko9fcg62i1iuemvpi9k2sdeh1ao9</string>
	<key>API_KEY</key>
	<string>AIzaSyCYGpQFMgtPNuS_rSEJ0_89yHNggjQ-R9Q</string>
	<key>GCM_SENDER_ID</key>
	<string>182135908945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Brotsky.EventHub</string>
	<key>PROJECT_ID</key>
	<string>eventhub-19a2a</string>
	<key>STORAGE_BUCKET</key>
	<string>eventhub-19a2a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182135908945:ios:9fa82c683148b28f0c6670</string>
</dict>
</plist>